@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@theme {
  --color-first: #292966;
  --color-second: #ccccff;
   --color-a:#043873;
 


 --color-one:#FFFFFF;
 --color-two:#2C2C2C;
 --color-three:#0D46D7;

 
}
@layer components {

  .container {
    @apply  flex  flex-col my-8 items-center justify-center 
 ring-1 ring-slate-200 shadow-lg shadow-slate-400 bg-one  h-[300px]
    rounded-lg gap-4 ;
  }
  .card-bg {
    @apply rounded-md w-[350px] bg-one  h-[390] ring-1 ring-slate-200 shadow-lg shadow-slate-400  p-6;
  }

  .interview-section {
    @apply grid grid-cols-1 md:grid-cols-2  mt-8 mb-16  lg:grid-cols-2 xl:grid-cols-3    gap-8 justify-items-center;
  }
  .button-blue{
    @apply ring-1 ring-slate-400 shadow-lg shadow-slate-400 hover:bg-blue-800
  }

  .card-sm {
    @apply bg-three text-one ring-1 ring-slate-400 shadow-lg shadow-slate-400 px-2 py-1 rounded-bl-md right-0 top-0 rounded-tr-md;
  }


    
 
}
@layer utilities {
 .justify-around{
  @apply flex flex-row items-center justify-around 
 }
  .text-card{
    @apply bg-three rounded-md ring-1 ring-slate-400 shadow-lg shadow-slate-400  p-4 text-[19px] font-semibold text-primary min-w-[250px] text-justify 
  }

  .input {
    @apply outline-none w-[300px] sm:w-[350px] text-[18px] ring-1 ring-slate-400 shadow-lg shadow-slate-400  h-[45px];
  }
    .tech-tooltip{
    @apply group-hover:block absolute -top-7 left-0  hidden p-1  rounded-lg bg-three text-white text-[12px] ring-1 ring-slate-400 shadow-lg shadow-slate-400
  }
  .flex-row-c{
    @apply flex flex-row  items-center
  }
  .flex-r{
    @apply flex flex-row gap-4
  }
  .flex-row-cen {
    @apply flex flex-row justify-center items-center
    gap-4;
  }
  .flex-c {
    @apply flex flex-col  gap-6;
  }
  .flex-col-cen {
    @apply flex flex-col justify-center items-center;
  }
  .flex-between {
    @apply flex flex-row justify-between items-center;
  }
  .green-btn{
    @apply bg-green-400  p-2 font-semibold  rounded-full w-[130px] h-[40px] text-white my-4 cursor-pointer ring-1 ring-slate-400 shadow-lg shadow-slate-400
  }
  .red-button{
    @apply bg-red-500 shadow-md shadow-red-200 font-semibold p-2 w-[130px] rounded-full h-[40px]  text-white my-4 cursor-pointer
  }
}

@layer base {

  h1 {
    @apply text-[32px] uppercase font-bold;
  }

  h2 {
    @apply text-[24px] font-semibold;
  }
  h3 {
    @apply text-[18px] font-medium;
  }
  p {
    @apply text-[14px] font-light;
  }
}
/*
@theme inline{
  --color-primary: #6453ac;
  --color-secondary: #ac539b;
  --color-shadow: #590039;
  --color-ring: #4c0059;
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-medium;
  }
  p{
    @apply text-sm font-light text-emerald-600;
  }
}

@layer utilities {
  .flex-col-cen {
    @apply flex flex-col justify-center items-center;
  }
  .flex-row-cen {
    @apply flex flex-row items-center justify-center;
  }
  .flex-row-bet {
    @apply flex flex-row justify-between items-center;
  }
}

@layer components {
  .container {
    @apply p-8 lg:min-w-[556px]   ring-1 shadow-2   rounded-md bg-amber-400;
  }
  .input {
    @apply outline-none shadow-shadow shadow-xs p-2 text-black w-[60px];
  }
  .label {
    @apply text-lg font-medium;
  }
}
*/

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --color-card: var(--card);

  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);

  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);

  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);

  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);

  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);

  --color-chart-2: var(--chart-2);

  --color-chart-3: var(--chart-3);

  --color-chart-4: var(--chart-4);

  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;

  --background: oklch(1 0 0);

  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);

  --foreground: oklch(0.985 0 0);

  --card: oklch(0.205 0 0);

  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.205 0 0);

  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);

  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);

  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);

  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);

  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);

  --input: oklch(1 0 0 / 15%);

  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.488 0.243 264.376);

  --chart-2: oklch(0.696 0.17 162.48);

  --chart-3: oklch(0.769 0.188 70.08);

  --chart-4: oklch(0.627 0.265 303.9);

  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0 0);

  --sidebar-foreground: oklch(0.985 0 0);

  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.269 0 0);

  --sidebar-accent-foreground: oklch(0.985 0 0);

  --sidebar-border: oklch(1 0 0 / 10%);

  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
